# Git
.git/

# Local environmental variables
.env
src/.env

# VS Code
.vscode/

# Python cached files
src/__pycache__/*

# Local logs
logs/
src/logs/

# Local project notes
notes.md
src/demo/

# Build
build/
dist/
MainForm.spec

# Resources (images and stuff (from web))
res/web/
